<!doctype html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p th:text="${restaurant.boss}">uname</p>
    <p th:utext="${restaurant.chef}">upass</p>

<div th:object="${restaurant}">
    boss: <span th:text="*{boss}"></span>
    chef: <span th:text="*{chef}"></span>
</div>

    <a href="/welcome" th:href="@{/welcome}">welcome</a>

    <p th:text="#{something}">message</p>


</body>
</html>